/* Custom styles for KAOS documentation */

/* Make hero image (demo GIF) larger */
@media (min-width: 960px) {
  .VPHero .image-src {
    margin-top: 20px;
    max-width: 650px !important;
    max-height: 650px !important;
  }
}

@media (min-width: 640px) {
  .VPHero .image-src {
    margin-top: 20px;
    max-width: 500px;
    max-height: 800px;
  }
}
